/* ====================== GOOGLE FONT ====================== */
@import url('https://fonts.googleapis.com/css2?family=Caprasimo&family=Playpen+Sans:wght@300;400;500;600;700&display=swap');
:root{
    --header-height: 3.5rem;

    /* ====================== BLAND COLORS ====================== */
    --clr-primary: #c3c7f3;
    --clr-second: #f3dcdc;
    --clr-third: #e3aadd;
    --clr-fourth: #e1e3f7;
    --clr-fifth: #f4e7fb;
    --clr-body: #ffffff;
    --clr-text: #000000;
    --clr-button: #c8a8e9;

    /* ====================== FONT AND TYPOGRAPHY ====================== */
    --ff-primary: 'Caprasimo', serif;
    --ff-second: 'Playpen Sans', cursive;
    --fs-biggest: 10rem;
    --fs-h1: 7rem;
    --fs-h2: 3rem;
    --fs-h3: 2rem;
    --fs-nomal: 1rem;
    --fs-small: 0.8rem;

    /* ====================== FONT WEIGHT ====================== */
    --fw-light: 300;
    --fw-regular: 400;
    --fw-medium: 500;
    --fw-semibold: 600;
    --fw-bold: 700;

    /* ====================== Z-INDEX ====================== */
    --z-tooltip: 10;
    --z-img: 20;
    --z-fixed: 30;
}

/* ====================== BASE ====================== */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--clr-text);
}

main{
    overflow: hidden
}

html{
    scroll-behavior: smooth;
}

body,
input,
button{
    font-family: var(--ff-second);
    font-size: var(--fs-nomal);
    font-weight: var(--fw-medium);
}

body{
    color: var(--clr-text);
    background-color: var(--clr-body);
}

h1,h2{
    color: var(--clr-text);
    font-weight: var(--fw-bold)
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

/* ====================== REUSABLE CSS CLASSES ====================== */
.container{
    max-width: 1100px;
    margin-inline: 1.5rem;
    background-color: var(--clr-body);
}

.grid{
    display: grid;
    gap: 1.5rem;
}

.section{
    padding-block: 3.5rem 1rem;
}

.main{
    overflow: hidden;
}

/* ====================== BUTTON ====================== */
.button{
    background-color: var(--clr-button);
    border: none;
    padding-block: .5rem;
    border-radius: .3rem;
    transition: background-color .5s;
}

.button:hover{
    background-color: var(--clr-second);
    cursor: pointer;
}

/* ====================== HEADER AND NAV ====================== */
.header{
    position: fixed;
    z-index: var(--z-tooltip);
    width: 100%;
    background-color: var(--clr-body);
}

.nav{
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    padding-inline: 1rem;
    background-color: var(--clr-body);
    max-width: 1220px;
    margin-inline: auto;
}

.nav__logo img{
    height: 2.5rem;
}

.nav__list{
    display: flex;
}

.menu_button{
    font-size: 1.2rem;
}

.nav__item{
    display: flex;
    align-items: center;
    margin-inline: .75rem;
    border-radius: .3rem;
    transition: background-color .5s;
    padding-inline: .2rem;
    column-gap: .25rem;
}

.nav__item img{
    height: 1.5rem;
}

.nav__item span{
    display: block;
    font-size: var(--fs-small);
}

.nav__actions i{
    margin-inline: .25rem;
    transition: color .5s;
    font-size: 1.2rem;
}

.nav__item:hover{
    background-color: var(--clr-primary);
    cursor: pointer;
}

.nav__actions i:hover{
    color: var(--clr-primary);
    cursor: pointer;
}

.cart__amount{
    background-color: red;
    width: 1rem;
    height: 1rem;
    font-size: 0.65rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: white;
    position: absolute;
    top: 0;
    right: -0.15rem;
    z-index: calc(var(--z-tooltip) + 1);
}

.nav__actions > a{
    position: relative;
}

/* ====================== SHADOW HEADER ====================== */
.shadow-header{
    box-shadow: 0 2px 16px hsla(0, 0%, 0%, .1);
}

/* ====================== NAV MOBILE ====================== */
@media screen and (max-width: 1149px) {
    .nav{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .nav__list{
        position: absolute;
        top: 3.5rem;
        left: -15rem;
        display: grid;
        width: 13rem;
        background-color: var(--clr-fourth);
        box-shadow: 5px 5px 10px hsla(0, 0%, 24%, 0.1);
        transition: left .4s;
        border-radius: .45rem;
        padding: 1.5rem 1rem;
        z-index: var(--z-fixed);
    }

    .menu__title{
        text-align: center;
        padding-bottom: 1rem;
    }

    .nav__item{
        padding-block: .5rem;
        margin-inline: 0;
        padding-left: 1.2rem;
        border-radius: .45rem;
    }

    .menu_button{
        transition: color .5s;
    }

    .nav_menu{
        order: 0;
    }

    .nav__logo{
        display: flex;
        order: 1;
        justify-content: center;
    }

    .nav__actions{
        order: 2;
        text-align: end;
    }

    .menu_button:hover{
        color: var(--clr-primary);
        cursor: pointer;
    }

    .show-menu{
        left: 1rem;
    }

}

/* ====================== LOG IN ====================== */
.login{
    justify-content: center;
    background-color: hsl(hue, saturation, lightness);
    width: 100%;
    height: 100%;
    background-color: hsla(235, 10%, 49%, 0.6);
    z-index: var(--z-fixed);
    position: fixed;
    top: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
}

.login__group{
    position: relative;
    padding: 2rem;
    background-color: var(--clr-primary);
    margin: 4rem 2rem;
    border-radius: .45rem;
}

.login__lable{
    display: block;
    margin-bottom: .25rem;
}

.login__input{
    width: 100%;
    margin-bottom: .25rem;
    height: 2rem;
    padding-inline: .5rem;
    font-weight: var(--fw-regular);
}

.login__title{
    text-align: center;
    font-size: var(--fs-h2);
}

.login__title{
    display: flex;
    align-items: center;
    column-gap: 1.5rem;
    justify-content: center;
}

.login__forgot,
.login__signup{
    display: block;
    text-align: center;
    font-weight: var(--fw-regular);
}

.login__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    margin-inline: auto;
    justify-content: center;
    font-size: 1.5rem;
    cursor: pointer;
    transition: color .5s;
}

.show-login{
    visibility: visible;
    opacity: 1;
}


/* ===============================================  Index ============================================= */


/* ====================== HOME ====================== */
.home__content{
    margin: 1.5rem 0rem 1.5rem;
}
.home__desription{
    display: block;
    font-family: var(--ff-second);
    font-size: var(--fs-small);
    text-align: center;
}

.home__title{
    font-family: var(--ff-primary);
    font-size: 3.5rem;
    text-align: center;
}

.home__images{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.home__img-1{
    position: absolute;
    width: 150px;
    z-index: 2;
}

.home__img-2{
    z-index: 1;
    height: 300px;
    max-width: initial;
    border-radius: .7rem;
}

/* ====================== CHOOSE ====================== */

.choose__img{
    width: 270px;
    border-radius: 50%;
  }

.choose__item-header{
    font-weight: var(--fw-semibold);
}

.choose__item-description{
    font-weight: var(--fw-light);
}

div .choose__card{
    position: relative;
    width: 300px;
    height: 335px;
    overflow: hidden;
    border-radius: 50%;
}

div .choose__image{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0; left: 0;
}

.choose__images {
    margin-bottom: 1.5rem;
    width: 300px;
}

.choose__title{
    display: inline;
    font-family: var(--ff-primary);
    font-size: 1.7rem;
}

.choose__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.choose___sub{
    display: grid;
    row-gap: .5rem;
}

.choose__data{
    border-radius: 75% 25% 76% 24% / 49% 56% 44% 51%;
    background-color: var(--clr-primary);
    padding-block: .5rem;
    margin-bottom: 1rem;
}

.rainbow__border{
    width :  100%;
    height:  100%;
    animation: o-rotate-360 linear 8s infinite;
  
    span {
      display: block;
      width: 100%; height: 100%;
      position: relative;
      transform: translate(-50%, -50%);
  
      &:after {
        display: block;
        content: "";
        width: 100%; height: 100%;
        position: absolute;
        left: 100%;
      }
  
      &:first-child {
                  background: var(--clr-button);
        &:after { background: var(--clr-fourth) }
      }
  
      &:last-child {
                  background: var(--clr-primary);
        &:after { background: var(--clr-second) }
      }
    }
  }
  
  @keyframes o-rotate-360 {
    0% { transform: rotate(0) }
  
    100% { transform: rotate(360deg) }
  }

/* ====================== BEST SELLER ====================== */
.best__back{
    width: 250px;
    position: absolute;
    z-index: 2;
    border-left: 1px solid rgb(218, 217, 217);
}

.best__img{
    width: 230px;
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 1;
}

.best__image{
    position: relative;
    height: 300px;
}

.best__images{
    width: 250px;
    margin-bottom: 1.5rem;
    margin-inline: auto;
}

.best__title{
    font-family: var(--ff-primary);
    font-size: 1.7rem;
}

.best__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.best___sub{
    display: grid;
    row-gap: .5rem;
    font-weight: var(--fw-light);
}

.best__data{
    border-radius: 75% 25% 76% 24% / 49% 56% 44% 51%;
    background-color: var(--clr-primary);
    padding-block: .5rem;
    margin-bottom: 1rem;
}

/* ====================== PRODUCT ====================== */
.product__img{
    width: 220px;
    border-radius: .7rem;
    margin-bottom: .7rem;
}

div .product__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-second);
    padding: 1rem;
    border-radius: .7rem;
    width: max-content;
}


.product__description{
    text-align: center;
    font-size: .8rem;
}

.product__price{
    text-decoration: line-through;
    font-size: .7rem;
    scale: 2;
}

span .product__price:hover{
    background-color: #c8a8e9;
}

.product__title{
    font-family: var(--ff-primary);
    font-size: 1.7rem;
}

.product__data{
    border-radius: 75% 25% 76% 24% / 49% 56% 44% 51%;
    background-color: var(--clr-primary);
    padding-block: .5rem;
    margin-bottom: 1rem;
}

.product__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.product__nav{
    position: absolute;
    top: 1.5rem;
    right: 0rem;
    text-decoration: underline;
    font-size: var(--fs-small);
}

div .swiper-button-prev::after,
div .swiper-button-next::after{
    content: '';
}

div .swiper-button-prev,
div .swiper-button-next{
    width: initial;
    height: initial;
    background-color: var(--clr-fourth);
    padding: .5rem;
    border-radius: .7rem;
    font-size: 1.5rem;
    color: var(--clr-button);
    transition: border .4s, backgroud-color .4s;
}

/* ====================== TESTIMONIAL ====================== */
.testimonial__title{
    font-family: var(--ff-primary);
    font-size: 1.7rem;
}

.testimonial__data{
    border-radius: 75% 25% 76% 24% / 49% 56% 44% 51%;
    background-color: var(--clr-primary);
    padding-block: .5rem;
    margin-bottom: 1rem;
}

.testimonial__content{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonial__img{
    width: 180px;
    border-radius: .7rem;
}

div .testimonial__card{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    padding: .5rem;
    border-radius: .7rem;
    background-color: var(--clr-fifth);
    border: .5rem solid var(--clr-fourth);
}



/* ==========================================  Index ============================================ */




/* ====================== FOOTER ====================== */
.footer__logo img{
    height: 50px;
    margin-bottom: 1rem;
}

.footer__data1{
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer__description{
    width: max-content;
    text-align: center;
}

.footer__container{
    background-color: var(--clr-fourth);
    border-radius: .7rem;
    gap: 0rem;
    margin-top: 3.5rem;
}

.footer__data2{
    grid-template-columns: repeat(2, max-content);
    padding-bottom: 2rem;
    margin-inline: auto;
}

.footer__title{
    font-size: var(--fs-nomal);
}

.footer__description{
    font-size: var(--fs-nomal);
}

.footer__link{
    font-size: var(--fs-small);
    color: var(--clr-text);
}

.footer__info{
    font-size: var(--fs-small);
    font-family: var(--ff-second);
    font-style: normal;
}

.footer__copy{
    display: block;
    margin-block: 2rem;
    text-align: center;
    font-size: var(--fs-small);
}

/* ====================== SCROLL UP ====================== */
.scrollup{
    position: fixed;
    right: 2rem;
    bottom: -50%;
    background-color: var(--clr-body);
    box-shadow: 0 2px 8px hsla(0, 0%, 0%, .1);
    display: inline-flex;
    padding: 6px;
    font-size: 1.25rem;
    z-index: var(--z-tooltip);
    transition: bottom .4s, transform .4s, background-color .4s;
    border-radius: .25rem;
}

.scrollup:hover{
    transform: translateY(-.5rem);
}

.show-scroll{
    bottom: 2rem;
}

/* =================== BREAKPOINTS (RESPONSIVE) ==================== */
/* FOR SMALL DEVICE */
@media screen and (min-width: 320px){
    .container{
        margin-inline: 1rem;
    }


    /* ========== index ============ */
    .choose__img{
        width: 260px;
      }

    div .choose__card{
        width: 290px;
        height: 325px;
    }

    .choose__images {
        width: 290px;
    }
}

/* For Medium Device */
@media screen and (min-width: 576px){
    .footer__container{
        grid-template-columns: repeat(2, max-content);
        justify-content: space-between;
    }

    .footer__data1{
        padding-inline: 2rem;
    }

    .footer__data2{
        grid-template-columns: repeat(2, 1fr);
        padding-top: 2rem;
    }

    /* ========== index ============ */
  
    .product__nav{
        font-size: var(--fs-nomal);
    }
}

/* For Large Device */
@media screen and (min-width: 768px){
    .footer__data2{
        grid-template-columns: repeat(3, 1fr);
        padding-top: 2rem;
        padding-right: 2rem;
        gap: .5rem;
    }

    /* ========== index ============ */

    .choose__container{
        grid-template-columns: 300px 400px;
        justify-content: center;
        column-gap: 1.5rem;
    }

    .choose__content{
        justify-content: center;
    }

    .choose__images{
        margin-bottom: 0;
    }

    .best__container{
        grid-template-columns: 380px 280px;
        justify-content: center;
        column-gap: 1.5rem;
    }

    .best__images{
        order: 2;
    }

    .best__content{
        justify-content: center;
    }

    .best__title,
    .choose__title,
    .product__title,
    .testimonial__title{
        font-size: calc(var(--fs-h3) + .25rem);
    }
}

/* For Large Device */
@media screen and (min-width: 1150px){
    .container{
        margin-inline: auto;
    }

    .nav{
        height: calc(var(--header-height) + 1rem);
    }

    .menu_button,
    .menu__title{
        display: none;
    }

    .nav__logo img{
        height: 3.5rem;
    }

    .nav__item img{
        height: 1.7rem;
    }
    
    .nav__item span{
        font-size: calc(var(--fs-small) + .2rem);
    }

    .nav__actions i{
        font-size: 1.4rem;
    }

    .footer__data2{
        grid-template-columns: repeat(4, 1fr);
        padding-top: 2rem;
        padding-right: 2rem;
        gap: .5rem;
    }

/* ==================== index ======================= */

    .product__nav{
        top: 2.5rem;
    }
    
    .home__container{
        grid-template-columns: 440px 650px;
        justify-content: center;
    }

    .home__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .home__container{
        padding-top: 5rem;
        padding-bottom: 2rem;
    }

    .home__desription{
        font-family: var(--ff-second);
        font-size: calc(var(--fs-small) + .5rem);
    }
    
    .home__title{
        font-family: var(--ff-primary);
        font-size: 4.75rem;
        text-align: center;
    }

    .choose__container{
        grid-template-columns: 400px 450px;
        justify-content: center;
        column-gap: 2rem;
    }

    .best__container{
        grid-template-columns: 450px 440px;
        justify-content: center;
        column-gap: 2rem;
    }

    .best__title,
    .choose__title,
    .product__title,
    .testimonial__title{
        font-size: var(--fs-h2);
    }
}






/* ====================== PRODUCTS SHOP ====================== */
.products__card{
    position: relative;
    height: 300px;
    width: 250px;
    margin-inline: auto;
    display: block;
}

.products__back{
    width: 250px;
    height: 300px;
    position: absolute;
    z-index: 2;
    border-left: 1px solid rgb(218, 217, 217);
}

.products__img{
    width: 230px;
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 1;
}

.products__description{
    position: absolute;
    left: 1rem;
    font-size: 0.8rem;
    z-index: 3;
    bottom: 1rem;
    color: var(--clr-text);
}

.products__price{
    text-decoration: line-through;
    font-size: 0.7rem;
    scale: 2;
}

.products_button{
    font-size: var(--fs-small);
    position: absolute;
    z-index: 3;
    bottom: 1rem;
    right: 1rem;
    border: none;
    background-color: var(--clr-second);
    border-radius: 0.25rem;
    padding: 0.2rem;
    transition: background-color .4s;
    cursor: pointer;
}

.products_button:hover{
    background-color: #ebcdcd;
}

.products__container{
    justify-content: center;
    margin-top: 1rem;
}

.page_header_title{
    font-size: calc(var(--fs-nomal) + .25rem);
    font-weight: var(--fw-bold)
}

@media screen and (min-width: 576px) {
    .products__container{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (min-width: 800px) {
    .products__container{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 1150px) {
    .products__container{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .page_header{
        margin-top: 2rem;
    }
}





/* ====================== PRODUCTS CART ====================== */
.product__cart__images{
    position: relative;
    height: 200px;
    width: 167px;
    margin-inline: auto;
}

.product__cart__back{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    border-left: 1px solid rgb(218, 217, 217);
}

.product__cart__img{
    width: 154px;
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1;
}

.product__cart__description{
    font-size: var(--fs-small);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__cart__price{
    text-decoration: line-through;
    font-size: .7rem;
    scale: 2;
}

.product__cart__container{
    row-gap: 1rem;
}

.product__cart__card{
    grid-template-columns: 167px auto;
    background-color: var(--clr-second);
    padding: 1rem;
    border-radius: .7rem;
    position: relative;
}

.btn__add,
.btn__reduce{
    background-color: var(--clr-primary);
    border-radius: 50%;
    padding: .15rem;
    font-size: 1rem;
    transition: background-color .4s;
    cursor: pointer;
}

.btn__add:hover,
.btn__reduce:hover{
    background-color: var(--clr-button);
}

.product__cart_quantity{
    background-color: var(--clr-body);
    width: max-content;
    padding: .35rem;
    border-radius: 20% / 50%;
    display: flex;
    align-items: center;
}

.product_quantity{
    width: 1.5rem;
    text-align: center;
}

.product__cart__description > div{
    margin-bottom: .5rem;
}

.btn_del{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    transition: background-color .4s;
    border-radius: .25rem;
    padding-inline: .125rem;
    cursor: pointer;
}

.btn_del:hover{
    background-color: var(--clr-button);
}


.product__cart__total > div{
    margin-bottom: 1rem;
}

.product__cart__total > div >div{
    display: flex;
    justify-content: space-between;
    margin-bottom: .25rem;
}

.cart__checkout{
    display: block;
    padding-inline: .5rem;
    color: var(--clr-text);
    text-align: center;
}

.cart__total__title{
    font-weight: var(--fw-bold)
}

.cart__title{
    font-size: calc(var(--fs-nomal) + .25rem);
    font-weight: var(--fw-bold)
}

.cart__empty__title{
    margin-bottom: 1rem;
}

.cart__start{
    padding-inline: .5rem;
    display: block;
    width: max-content;
}

@media screen and (min-width: 768px){
    .product__cart{
        grid-template-columns: 1.5fr 1fr;
    }
}

/* ====================== CHECKOUT ====================== */
.checkout__wrap{
    position: relative;
}

.checkout__lable{
    display: block;
    font-size: var(--fs-small);
}

.checkout__input{
    height: 2rem;
    width: 100%;
    padding-inline: .5rem;
    font-size: var(--fs-small);
}

.checkout__form{
    margin-bottom: .5rem;
    border-radius: .7rem;
}

.checkout__form > h3{
    margin-bottom: .5rem;
}

.checkout__form > p{
    margin-block: .4rem;
    font-size: var(--fs-small);
    font-weight: var(--fw-semibold);
}

.checkout__form > form > div{
    margin-bottom: .25rem;
}

.checkout__exp{
    float: left;
    width: 30%;
    margin-right: 1rem;
}

.checkout__cvc{
    float: left;
    width: 30%;
}

.form__payment{
    height: 165px;
}

.checkout__continue{
    padding-inline: .5rem;
}

.checkout{
    display: none;
}

.checkout-active{
    display: inherit;
} 

.checkout__title{
    font-size: calc(var(--fs-nomal) + .25rem);
    font-weight: var(--fw-bold);
    margin-bottom: 1rem;
}

.checkout__close{
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    transition: background-color .4s;
    border-radius: 0.25rem;
    padding-inline: 0.125rem;
    cursor: pointer;
}

.checkout__close:hover{
    background-color: var(--clr-button);
}

.checkout__container{
    max-width: 1100px;
}

.checkout__container > div{
    background-color: var(--clr-primary);
    padding: 1rem;
    border-radius: .7rem;
    position: relative;
}


@media screen and (min-width: 576px) {
    .checkout__city{
        float: left;
        width: 30%;
        margin-right: 1rem;
    }
    
    .checkout__zipcoode{
        float: left;
        width: 30%;
    }
    
    .form__address{
        height: 165px;
    }
}

@media screen and (min-width: 768px) {
    .checkout__container > div{
        max-width: 58.5%;
    }
}

@media screen and (min-width: 1150px) {
    .checkout{
        padding-top: 4.5rem;
    }
}